/* 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-line{
    width: 1600px;
    height: 81px;
    left: 0px;
    top: 0px;
}

.header{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

.features{
    width: 1170px;
    height: 251px;
    left: 215px;
    top: 774px;  
}

.tech-skills{
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 1213px;    
}

.our-team{
    width: 1600px;
    height: 702px;
    left: 0px;
    top: 1693px;
}

.our-team-title{
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1787px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}


.team-card-1{
    width: 270px;
    height: 422px;
    left: 215px;
    top: 1879px;
}

.team-card-2{
    width: 270px;
    height: 422px;
    left: 515px;
    top: 1879px;
}

.team-card-3{
    width: 270px;
    height: 422px;
    left: 815px;
    top: 1879px;
}

.team-card-4{
    width: 270px;
    height: 422px;
    left: 1115px;
    top: 1879px;
}

.our-client{
    width: 1170px;
    height: 182px;
    left: 215px;
    top: 2489px;
}

.footer{
    width: 1600px;
    height: 253px;
    left: 0px;
    top: 2773px;
} */