

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-line{
    width: 1600px;
    height: 81px;
    padding-left: 0px;
    padding-top: 0px;
}

.header{
    width: 1600px;
    height: 600px;
    padding-left: 0px;
    padding-top: 0px;
}

.features{
    width: 1570px;
    height: 251px;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 94px;
    float: left;
    text-align: center;
}

.features-1{
    background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 270px; /* Ширина */
    height: 251px; /*Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
}

.features-2{
    background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 270px; /* Ширина */
    height: 251px; /*Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
}

.features-3{
    background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 270px; /* Ширина */
    height: 251px; /*Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
}
.features-4{
    background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 270px; /* Ширина */
    height: 251px; /*Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
}
.tech-skills{
    width: 1550px;
    height: 386px;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 400px;   
}

.tech-skills-title{
    width: 806px;
    height: 42px;
    padding-left: 450px;
    line-height: 30px;
    margin-bottom: 45px;
    color: #212121;    
}

.our-team{
    position: absolute;
    width: 1600px;
    height: 702px;
    left: 0px;
    top: 1563px;    
    background: #F5F4FA;
}

.team{
    position: absolute;
    width: 1170px;
    height: 422px;
    left: 215px;
    top: 186px;
}

.our-team-title{
    position: absolute;
    width: 350px;
    height: 42px;
    left: 668px;
    top: 94px;
    line-height: 42px;
    text-align: center;  
    color: #212121;
}


.team-card-1{
    width: 270px;
    height: 422px;
    padding: 10px;
    left: 215px;
    top: 0px;
    float: left;
}

.team-card-2{
    width: 270px;
    height: 422px;
    padding: 10px;
    left: 515px;
    top: 0px;
    float: left;
}

.team-card-3{
    width: 270px;
    height: 422px;
    padding: 10px;
    left: 815px;
    top: 0px;
    float: left;
}

.team-card-4{
    width: 270px;
    height: 422px;
    padding: 10px;
    left: 1115px;
    top: 0px;
    float: left;
}

.our-client{
    position: absolute;
    width: 1170px;
    height: 182px;
    left: 215px;
    top: 2289px;
}

.footer{
    position: absolute;
    width: 1600px;
    height: 253px;
    left: 0px;
    top: 2473px;
    
}